<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>git for kindel</title>
    <script src="https://cdn.bootcss.com/jquery/2.2.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/vue/2.6.10/vue.min.js"></script>
    <link rel="stylesheet" href="css/common.css" />
</head>
<body>
    <div id="main">
        <div id="list" v-show="mode=='list'">
            <input v-model="path" /><button @click="goPath">跳转</button><br/>
            &gt; <span class="underline" v-for="(dir,i) in dirs" @click="skip(i)">{{dir}}/</span>
            <div v-for="(item, index) in list" @click="goPage(item)" class="underline">
                {{item.name}}{{item.type=='dir'?'/':''}}
            </div>
        </div>
        <div id="detail" v-show="mode=='detail'">
            <pre>{{content}}</pre>
        </div>
    </div>
</body>
<script src="js/main.js"></script>
<!--
    index.html?path=https://api.github.com/repos/rockedpanda/gitkindle/contents
-->
</html>